In [1]:
import pandas as pd

## Read the three files into python as dataframes

In [2]:
df1 = pd.read_csv("files_for_lab/csv_files/file1.csv")
df2 = pd.read_csv("files_for_lab/csv_files/file2.csv")
df3 = pd.read_csv("files_for_lab/csv_files/file3.csv")

In [3]:
df1.head(5)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
df2.head(5)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [5]:
df3.head(5)

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

## Show the DataFrame's shape.

In [6]:
df1.shape

(4008, 11)

In [7]:
df2.shape

(996, 11)

In [8]:
df3.shape

(7070, 11)

## Standardize header names.

In [9]:
df1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [10]:
df1.columns.tolist()

['Customer',
 'ST',
 'GENDER',
 'Education',
 'Customer Lifetime Value',
 'Income',
 'Monthly Premium Auto',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class',
 'Total Claim Amount']

In [11]:
title = {"df1": df1.columns.tolist(), "df2": df2.columns.tolist(), "df3": df3.columns.tolist()}
titles =pd.DataFrame(data=title)
titles

,df1,df2,df3
0,Customer,Customer,Customer
1,ST,ST,State
2,GENDER,GENDER,Customer Lifetime Value
3,Education,Education,Education
4,Customer Lifetime Value,Customer Lifetime Value,Gender
5,Income,Income,Income
6,Monthly Premium Auto,Monthly Premium Auto,Monthly Premium Auto
7,Number of Open Complaints,Number of Open Complaints,Number of Open Complaints
8,Policy Type,Total Claim Amount,Policy Type
9,Vehicle Class,Policy Type,Total Claim Amount
10,Total Claim Amount,Vehicle Class,Vehicle Class

In [12]:
#Standardize headers in tables
df1 = df1.rename({'ST': 'State', 'GENDER': 'Gender'}, axis=1)
df2 = df2.rename({'ST': 'State', 'GENDER': 'Gender'}, axis=1)

In [13]:
df1

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df2

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

## Rearrange the columns in the dataframe as needed

In [15]:
df1 = df1[df3.columns.tolist()]
df2 = df2[df3.columns.tolist()]

## Concatenate the three dataframes

In [16]:
# Concatenate
data = df1.append([df2, df3])
data.shape

(12074, 11)

## Which columns are numerical?

In [17]:
data.select_dtypes(include = ["int64", "float64"]).columns.tolist()

['Income', 'Monthly Premium Auto', 'Total Claim Amount']

## Which columns are categorical?

In [18]:
data.select_dtypes(include = ["object"]).columns.tolist()

['Customer',
 'State',
 'Customer Lifetime Value',
 'Education',
 'Gender',
 'Number of Open Complaints',
 'Policy Type',
 'Vehicle Class']

In [19]:
data.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,2.704934,Four-Door Car
1,QZ44356,Arizona,697953.59%,Bachelor,F,0.0,94.0,1/0/00,Personal Auto,1131.464935,Four-Door Car
2,AI49188,Nevada,1288743.17%,Bachelor,F,48767.0,108.0,1/0/00,Personal Auto,566.472247,Two-Door Car
3,WW63253,California,764586.18%,Bachelor,M,0.0,106.0,1/0/00,Corporate Auto,529.881344,SUV
4,GA49547,Washington,536307.65%,High School or Below,M,36357.0,68.0,1/0/00,Personal Auto,17.269323,Four-Door Car

## Understand the meaning of all columns

In [20]:
data["Customer"].nunique()

9056

In [21]:
data["State"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [22]:
data["Customer Lifetime Value"].nunique()

8211

In [23]:
data["Education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [24]:
data["Gender"].unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [25]:
data["Income"].nunique()

5655

In [26]:
data["Education"].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [27]:
data["Monthly Premium Auto"].nunique()

209

In [28]:
data["Number of Open Complaints"].nunique()

12

In [29]:
data["Policy Type"].unique()

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

In [30]:
data["Total Claim Amount"].nunique()

5070

In [31]:
data["Vehicle Class"].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

## Perform the data cleaning operations mentioned so far in class

### Delete the column education and the number of open complaints from the dataframe.

In [32]:
data.drop(["Number of Open Complaints", "Education"], axis=1, inplace=True)

In [33]:
data.columns.tolist()

['Customer',
 'State',
 'Customer Lifetime Value',
 'Gender',
 'Income',
 'Monthly Premium Auto',
 'Policy Type',
 'Total Claim Amount',
 'Vehicle Class']

### Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [34]:
#For later - To Do:
#loop through column
#check value
#if: value endswith %
#    Then: remove % sign from string, turn it into float, multiply by 100
#else:
#turn it into float

def percentout(x):
    x = str(x)
    if x.endswith("%"):
        return float(x[:-1])*100
    else:
        return float(x)
        
data["Customer Lifetime Value"] = data["Customer Lifetime Value"].apply(percentout)

In [35]:
data.shape

(12074, 9)

### Check for duplicate rows in the data and remove if any.

In [36]:
data = data.drop_duplicates()

In [37]:
data.shape

(9135, 9)

### Filter out the data for customers who have an income of 0 or less.

In [38]:
data["Income"].dtypes

dtype('float64')

In [41]:
data = data[data["Income"] > 0]

In [42]:
data.shape

(6840, 9)